<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    {% if user.light_mode == True %}
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}"/>
    {% else %}
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon2.png')}}"/>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Nav Bar/ Header -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #abccff">
        <div class="container-fluid">
            <a class="nav-brand" href="home">
                <img src="/static/small-logo.png"
                     alt="Logo"
                     Height="50"
                     style="padding-right: 20px; padding-left: 10px;"
                     onmouseover="this.src='/static/logo-gif-fast-withpause.gif'"
                     onmouseout="this.src='/static/small-logo.png';">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/login">
                            <p class="h3" style="color: #262626">Login</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/register">
                            <p class="h3" style="color: #262626">Register</p>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/home">
                            <p class="h3" style="color: #262626">Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/profile">
                            <p class="h3" style="color: #262626">Profile</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3"
                           href="#"
                           id="miscDropdownMenuLink"
                           data-bs-toggle="dropdown"
                           style="color: #262626">
                            MISC
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/otts">OTTs</a></li>
                            <li><a class="dropdown-item" href="/log-view">Logs</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3"
                           href="#"
                           id="adminDropdownMenuLink"
                           data-bs-toggle="dropdown"
                           style="color: #262626">
                            Administration
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dashboard">Overview</a></li>
                            <li><a class="dropdown-item" href="/platform-overview">Platforms</a></li>
                            <li><a class="dropdown-item" href="/command-table">Commands</a></li>
                            <li><a class="dropdown-item" href="/timer-table">Timers</a></li>
                            <li><a class="dropdown-item" href="/command-groups">Groups</a></li>
                            <li><a class="dropdown-item" href="/command-input">Add Commands</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3"
                           href="#"
                           id="nluDropdownMenuLink"
                           data-bs-toggle="dropdown"
                           style="color: #262626">
                            NLU
                            {% if app.nlu_to_do_entities + app.nlu_to_do_intents != 0 %}
                            <span
                                class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-danger"
                                style="font-size: 0.4em">{{app.nlu_to_do_entities + app.nlu_to_do_intents}}
                            </span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/nlu-overview">NLU Overview</a></li>
                            <li>
                                <a class="dropdown-item" href="/nlu-entities">
                                    Entities
                                    {% if app.nlu_to_do_entities != 0 %}
                                    <span class="badge rounded-pill bg-danger" style="font-size: 0.7em">
                                        {{app.nlu_to_do_entities}}
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/nlu-intents">
                                    Intents
                                    {% if app.nlu_to_do_intents != 0 %}
                                    <span class="badge rounded-pill bg-danger" style="font-size: 0.7em">
                                        {{app.nlu_to_do_intents}}
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="/nlu-import">Imports</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/chat">
                            <p class="h3" style="color: #262626">Chat</p>
                        </a>
                    </li>
                </ul>
                <!-- right part-->
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
		            <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <p class="h3" style="color: #262626">Logout</p>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Real Body -->
    {% if user.light_mode == True %}
    <div class="container-fluid">
    {% else %}
    <div class="container-fluid" style="background-color: #212529; color: white">
    {% endif %}
        {% if user.light_mode == True %}
        <div class="d-grid d-md-flex justify-content-md-end">
            <form method="get" action="" style="padding: 1%">
                <input type="hidden" name="Light" value="0">
                <button class="btn btn-outline-dark" type="submit">Dark</button>
            </form>
        </div>
        {% else %}
        <div class="d-grid d-md-flex justify-content-md-end">
            <form method="get" action="" style="padding: 1%; alignment: right">
                <input type="hidden" name="Light" value="1">
                <button class="btn btn-outline-light" type="submit">Light</button>
            </form>
        </div>
        {% endif %}
        <!-- Flash implementation -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                {% if category == "success" %}
                <div class="alert alert-success alter-dismissible fade show" role="alert">
                {% else %}
                <div class="alert alert-danger alter-dismissible fade show" role="alert">
                {% endif %}
                    <div class="text-center">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>


    <!-- Footer -->
    <div class="container-fluid" style="background-color: #617590ff;">
        <div class="container text-left" style="padding-top: 1.5%;padding-bottom: 1.5%; color: aliceblue;">
            <div class="row">
                <div class="col-1">
                    <a href="/home" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Home</a>
                </div>
                <div class="col-1">
                    {% if not user.is_authenticated %}
                    <a href="/login" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Login</a>
                    {% else %}
                    <a href="/logout" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Logout</a>
                    {% endif %}
                </div>
                <div class="col-1">
                    <a href="/profile" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Profile</a>
                </div>
                <div class="col-1">
                    <a href="/otts" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">OTTs</a>
                </div>
                <div class="col-1">
                    <a href="/dashboard" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Overview</a>
                </div>
                <div class="col-2">
                    <a href="/nlu-overview" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">NLU Overview</a>
                </div>
                <div class="col-2">
                    <a href="/impressum" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Copyright & Impressum</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1">
                    <a href="/chat" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Chat</a>
                </div>
                <div class="col-1">
                    {% if not user.is_authenticated %}
                    <a href="/register" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Register</a>
                    {% endif %}
                </div>
                <div class="col-1"></div>
                <div class="col-1">
                    <a href="/log-view" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Logs</a>
                </div>
                <div class="col-1">
                    <a href="/platform-overview" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Platforms</a>
                </div>
                <div class="col-2">
                    <a href="/nlu-entities" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">NLU Entities</a>
                </div>
                <div class="col-1">
                    <a href="/resources" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Resources</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1">
                </div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1">
                    <a href="/command-table" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Commands</a>
                </div>
                <div class="col-2">
                    <a href="/nlu-intents" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">NLU Intents</a>
                </div>
                <div class="col-1"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1">
                    <a href="/timer-table" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Timers</a>
                </div>
                <div class="col-2">
                    <a href="/nlu-import" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">NLU Imports</a>
                </div>
                <div class="col-1"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1">
                    <a href="/command-groups" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Groups</a>
                </div>
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1">
                    <a href="/command-add" style="text-underline: aliceblue; color: aliceblue; text-decoration: none;">Add Command</a>
                </div>
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous">
    </script>
</body>
</html>