{% extends "base.html" %}
{% block title %}Command-Groups{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 20%; padding-right: 15%; padding-left: 15%">
    <div class="col align-center" style="align-items: center; alignment: center" >
        <iframe
            width="1350"
            height="630"
            src="https://console.dialogflow.com/api-client/demo/embedded/c1c2fd78-e738-4ed0-9bb6-55998c131ae1">
        </iframe>
    </div>
</div>

{% endblock %}
