{% extends "base.html" %}
{% block title %}Command-Groups{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 10%; padding-right: 15%; padding-left: 15%">
    <div class="col text-center">
        {% if user.light_mode == True %}
        <img src="{{url_for('static', filename='logo-gif-fast-withpause.gif')}}" width="10%">
        {% else %}
        <img src="{{url_for('static', filename='logo-gif-fast-withpause-white.gif')}}" width="10%">
        {% endif %}
        <h1 class=display-1">Coming Soon</h1>
    </div>
</div>

{% endblock %}
