{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 20%; padding-right: 15%; padding-left: 15%">
    <div class="col">
        <form method="post" action="" style="padding: 1%">
            <div class="d-grid" style="padding-top: 1%; padding-bottom: 5%">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="input-group mb-3">
                <textarea name="csv" id="csv" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>

{% endblock %}