{% extends "base.html" %}
{% block title %}Dashboard-Commands{% endblock %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <!-- Calls Overview -->
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Overview</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                {{ call_ana["today"] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                {{ call_ana["week"] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls Total
                            </div>
                            <div class="col">
                                {{ call_ana["total"] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Top Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{(top[0])[0]}}
                            </div>
                            <div class="col">
                                {{(top[0])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(top[1])[0]}}
                            </div>
                            <div class="col">
                                {{(top[1])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(top[2])[0]}}
                            </div>
                            <div class="col">
                                {{(top[2])[1]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Share</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{call_ana['discord'][3]}}%; background-color: #7289DA">{{call_ana['discord'][3]}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{call_ana['telegram'][3]}}%; background-color: #179CDE">{{call_ana['telegram'][3]}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{call_ana['youtube'][3]}}%; background-color: #FF0000">{{call_ana['youtube'][3]}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{call_ana['twitch'][3]}}%; background-color: #9146FF">{{call_ana['twitch'][3]}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-center">
                        <p class="text-center">
                            <a href="/platform-overview" style="text-decoration: None; color: #7289DA">Discord</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #2AABEE">Telegram</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #FF0000">YouTube</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #9146FF">Twitch</a>
                        </p>
                    </small>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Dead Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{(flops[0])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[0])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(flops[1])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[1])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(flops[2])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[2])[1]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
