{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Top Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{(top[0])[0]}}
                            </div>
                            <div class="col">
                                {{(top[0])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(top[1])[0]}}
                            </div>
                            <div class="col">
                                {{(top[1])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(top[2])[0]}}
                            </div>
                            <div class="col">
                                {{(top[2])[1]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Share</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{percentages['Discord']}}%; background-color: #7289DA">{{percentages['Discord']}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{percentages['Telegram']}}%; background-color: #179CDE">{{percentages['Telegram']}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{percentages['Youtube']}}%; background-color: #FF0000">{{percentages['Youtube']}}%</div>
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{percentages['Twitch']}}%; background-color: #9146FF">{{percentages['Twitch']}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-center">
                        <p class="text-center">
                            <a href="/platform-overview" style="text-decoration: None; color: #7289DA">Discord</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #2AABEE">Telegram</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #FF0000">YouTube</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #9146FF">Twitch</a>
                        </p>
                    </small>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form method="get" action="">
                                    {% if app.nlu == True %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="0">
                                        <button class="btn btn-secondary" type="submit">Deactivate</button>
                                    </div>
                                    {% else %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="1">
                                        <button class="btn btn-primary" type="submit">Activate</button>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Dead Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{(flops[0])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[0])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(flops[1])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[1])[1]}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{(flops[2])[0]}}
                            </div>
                            <div class="col">
                                {{(flops[2])[1]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Status</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" style="color: #9146FF">Discord</div>
                            {% if platform_status['Discord'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" style="color: #2AABEE">Telegram</div>
                            {% if platform_status['Telegram'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" style="color: #FF0000">Youtube</div>
                            {% if platform_status['Youtube'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" style="color: #9146FF">Twitch</div>
                            {% if platform_status['Twitch'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if app.nlu == True %}
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU Status</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">Words</div>
                            <div class="col">{{nlu_stats["Word_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Intents</div>
                            <div class="col">{{nlu_stats["Intent_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Entities</div>
                            <div class="col">{{nlu_stats["Entity_count"]}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Words</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['categorized_word_count']}}%;
                                         background-color: #7289DA">{{nlu_stats['Categorized_word_count']}}</div>
                                    <div class="progress-bar bg-danger"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_word_count']}}%;
                                         background-color: #2AABEE">{{nlu_stats['Uncategorized_word_count']}}</div>
                                </div>
                                <p class="text-center">
                                    <span style="color: #198754">
                                        Categorized
                                    </span>
                                    <span style="color: #dc3545">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Sentences</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['training_sentence']}}%;
                                         background-color: #7289DA">{{nlu_stats['Training_sentence_count']}}</div>
                                    <div class="progress-bar bg-danger"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_sentence_count']}}%;
                                         background-color: #2AABEE">{{nlu_stats['Uncategorized_sentence_count']}}</div>
                                </div>
                                <p class="text-center">
                                    <span style="color: #198754">
                                        Categorized
                                    </span>
                                    <span style="color: #dc3545">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
