{% extends "base.html" %}
{% block title %}NLU-Intents{% endblock %}
{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <p class="h1">
            New Questions
            <!-- TODO: make button appear right next to heading, not below -->
            {% if user.light_mode == True %}
            <form method="get" action="" style="padding: 1%">
                <!--Submit values/function-->
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
            {% else %}
            <form method="get" action="" style="padding: 1%;">
                <!--Submit values/function-->
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </form>
            {% endif %}
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for question in new_questions %}
                <form method="post" action="">
                    <tr>
                        <th scope="row">{{question.id}}</th>
                        <td>
                            {{question.text}}
                            <input value="{{question.text}}" name="question_text" hidden>
                        </td>
                        <td>
                            <!--Status-->
                            <select class="form-select" name="question_status">
                                <option value="to_do" {% if question.status == "to_do" %} selected {% endif %}>to do</option>
                                <option value="categorized"{% if question.status == "categorized" %} selected {% endif %}>categorized</option>
                                <option value="ignore"{% if question.status == "ignore" %} selected {% endif %}>ignore</option>
                            </select>
                        </td>
                        <td>
                            <!--Answer Id-->
                            <select class="form-select" name="answer_id">
                                {% for answer in answers %}
                                <option value="{{answer.id}}" {% if question.answer == answer.id %} selected {% endif %}>{{answer.text}}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control" name="new_answer">
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <p class="h1">
            Training Phrases
            <!-- TODO: make button appear right next to heading, not below -->
            {% if user.light_mode == True %}
            <form method="get" action="" style="padding: 1%">
                <!--Submit values/function-->
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
            {% else %}
            <form method="get" action="" style="padding: 1%;">
                <!--Submit values/function-->
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </form>
            {% endif %}
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for question in training_phrases %}
                <form method="post" action="">
                    <tr>
                        <th scope="row">{{question.id}}</th>
                        <td>
                            {{question.text}}
                            <input value="{{question.text}}" name="question_text" hidden>
                        </td>
                        <td>
                            <!--Status-->
                            <select class="form-select" name="question_status">
                                <option value="to_do" {% if question.status == "to_do" %} selected {% endif %}>to do</option>
                                <option value="categorized"{% if question.status == "categorized" %} selected {% endif %}>categorized</option>
                                <option value="ignore"{% if question.status == "ignore" %} selected {% endif %}>ignore</option>
                            </select>
                        </td>
                        <td>
                            <!--Answer Id-->
                            <select class="form-select" name="answer_id">
                                {% for answer in answers %}
                                <option value="{{answer.id}}" {% if question.answer == answer.id %} selected {% endif %}>{{answer.text}}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control" name="new_answer">
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>

        <p class="h1">
            Ignored Phrases
            <!-- TODO: make button appear right next to heading, not below -->
            {% if user.light_mode == True %}
            <form method="get" action="" style="padding: 1%">
                <!--Submit values/function-->
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
            {% else %}
            <form method="get" action="" style="padding: 1%;">
                <!--Submit values/function-->
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </form>
            {% endif %}
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answer Id</th>
                    <th scope="col">Answer Text</th>
                </tr>
            </thead>
            <tbody>
                {% for question in ignored_phrases %}
                <form method="post" action="">
                    <tr>
                        <th scope="row">{{question.id}}</th>
                        <td>
                            {{question.text}}
                            <input value="{{question.text}}" name="question_text" hidden>
                        </td>
                        <td>
                            <!--Status-->
                            <select class="form-select" name="question_status">
                                <option value="to_do" {% if question.status == "to_do" %} selected {% endif %}>to do</option>
                                <option value="categorized"{% if question.status == "categorized" %} selected {% endif %}>categorized</option>
                                <option value="ignore"{% if question.status == "ignore" %} selected {% endif %}>ignore</option>
                            </select>
                        </td>
                        <td>
                            <!--Answer Id-->
                            <select class="form-select" name="answer_id">
                                {% for answer in answers %}
                                <option value="{{answer.id}}" {% if question.answer == answer.id %} selected {% endif %}>{{answer.text}}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control" name="new_answer">
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>

        <div style="padding-top: 1%;padding-bottom: 1%">
            <p class="h2">
                What are those "New Questions"?
            </p>
            <p>
                Every time a user posts a question to the bot, the system tries to answer it to the best of its
                capability. But of course the system is not perfect from the get go. <br>
                This is why all questions asked get checked against the collection of all questions <em>EVER</em> asked. <br>
                If the system doesn't know the question, it will mark them as a <strong>New Question</strong>.<br>
                This will however not inhibit the ability of the system to answer this question.<br>
                If the NLU could find a satisfying answer, it will autocomplete it the table.<br>
                That way the human supervisor only has to confirm the correctness of the answer.<br>
                The whole system scales logarithmically. This means that the amount of new questions and wrong
                answers will be high initially, but gradually decrease in amount and wrongness.<br>
                For more information about the NLU system; check out the <a href="/resources">resources</a><br>
            </p>
            <p class="h2">
                What are Training Phrases?
            </p>
            <p>
                <strong>Training Phrases</strong> are the categorized <em>New Questions</em>. <br>
                They get used as example sentences to help the NLU understand language. <br>
                In the optimal case you are free to ignore them, but they are listed in case that you might
                want to make adjustments on errors. <br>
                For more information about the NLU system; check out the <a href="/resources">resources</a><br>
            </p>
            <p class="h2">
                What happens to the ignored phrases?
            </p>
            <p>
                The will just get <strong>ignored</strong> in the learning process. <br>
                This category exists that you can mark sentences as resolved and not have them clutter up the view at
                the <em>New Questions</em> section. <br>
                But in theory there is no difference between the <em>New Questions</em> and the <em>ignored</em> ones. <br>
                For more information about the NLU system; check out the <a href="/resources">resources</a><br>
            </p>
        </div>
    </div>
    <div class="col-1"></div>
</div>


{% endblock %}
