{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 5%; padding-right: 15%; padding-left: 15%">
    <div class="col">
        {% if user.light_mode == True %}
        <div class="card">
        {% else %}
        <div class="card text-white bg-dark border-light">
        {% endif %}
            <div class="card-header">
                <h1>Your Profile</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{ user.mail }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Date of creation</h5>
                <p class="card-text">{{ user.birthday }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Changes done</h5>
                <p class="card-text">{{ user.changes }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Change Email</h5>
                <form method="post" action="" style="padding: 1%">
                    <div class="mb-3">
                        <label for="new-mail" class="form-label">New Email</label>
                        <input name="new-mail" id="new-mail" class="form-control">
                    </div>
                    <div class="d-grid" style="padding-top: 1%">
                        <button class="btn btn-primary" type="submit">Change</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h5 class="card-title">Change Password</h5>
                <form method="post" action="" style="padding: 1%">
                    <div class="mb-3">
                        <label for="old-pw" class="form-label">Old Password</label>
                        <input name="old-pw" id="old-pw" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="new-pw1" class="form-label">New Password</label>
                        <input name="new-pw1" id="new-pw1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="new-pw2" class="form-label">Repeat New Password</label>
                        <input name="new-pw2" id="new-pw2" class="form-control">
                    </div>
                    <div class="d-grid" style="padding-top: 1%">
                        <button class="btn btn-primary" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
