{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 15%; padding-right: 15%; padding-left: 15%">
    <div class="col">
        <div class="text-center">
            {% if user.light_mode == True %}
            <img src="{{url_for('static', filename='logo-gif-fast-withpause.gif')}}" width="10%">
            {% else %}
            <img src="{{url_for('static', filename='logo-gif-fast-withpause-white.gif')}}" width="10%">
            {% endif %}
        </div>
        <form method="post" action="" style="padding: 1%">
            <div class="mb-3">
                <label for="mail" class="form-label">Email</label>
                <input name="mail" id="mail" class="form-control">
            </div>
            <div class="mb-3">
                <label for="pw1" class="form-label">Password</label>
                <input name="pw1" id="pw1" class="form-control">
            </div>
            <div class="mb-3">
                <label for="pw2" class="form-label">Repeat Password</label>
                <input name="pw2" id="pw2" class="form-control">
            </div>
            <div class="mb-3">
                <label for="ott" class="form-label">OTT</label>
                <input name="ott" id="ott" class="form-control">
            </div>
            <div class="d-grid" style="padding-top: 1%">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
